.messageContainer {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin: 20px 0;
    padding-left: 50px;
}

.userIcon {
    position: absolute;
    font-size: 2rem;
    top: 0;
    left: 0;
}

.messageUser {
    font-weight: bold;
    font-size: 0.9rem;
}

.messageText {
    font-size: 1.2rem;
    margin: 5px 0;
}

.messageIconsContainer {
    margin-top: 10px;
    display: flex;
}

.messageContainer > * {
    color: gray;
}

.messageIcon {
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
}

.messageUser {
    color: #000000;
}

.messageLikes {
    font-size: .9rem;
    color: #aa4f00;
    margin-right: 10px;
}


.arrowReplies {
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.arrowIcon {
    font-size: 0.9rem;
    margin-right: 10px;
}

.arrowReplies > * {
    color: #4f8ae2;
}

/* .arrowRepliesIcon {
    margin-right: 10px;
} */
